<template>
  <div class="row">
    <div class="mt-2 col-md-7">
      <div class="card">
        <div class="card-header bg-secondary"><i>Menu</i></div>
        <div class="card-body">
          <div class="row">
            <div class="p-1 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Chicken Bolognese</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Rp. 15000</a>
                </div>
              </div>
            </div>
            <div class="p-1 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Chicken Suwir Padang</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Rp. 18000</a>
                </div>
              </div>
            </div>
            <div class="p-1 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Chicken Teriyaki</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Rp. 15000</a>
                </div>
              </div>
            </div>
            <div class="p-1 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ayam Suwir</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Rp. 18000</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 col-md-5">
      <div class="card">
        <div class="card-header bg-danger"><b>Transaksi</b></div>
        <div class="card-body">
          <form>
            <table>
              <thead>
                <tr>
                  <input
                    type="text"
                    value="Harga"
                    placeholder="Harga"
                    class="form-control"
                  />
                  <input
                    type="number"
                    value="Harga"
                    placeholder="Jumlah"
                    class="form-control"
                  />
                </tr>
              </thead>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>