<template>

  <div class="h-screen bg-gray-50">
    <div class="overflow-auto rounded-sm shadow">
      <h1 class="flex justify-start mt-4 ml-8 text-lg font-bold">Laporan</h1>

      <div class="w-full mt-6">
        <form class="flex justify-center">
          <div class="col-span-5 m-2">
            <Datepicker v-model="startDate" />
          </div>
          <div class="col-span-5 m-2">
            <Datepicker v-model="endDate" />
          </div>
          <div class="col-span-2 m-2">
            <button class="bg-green-600 _btn">Cari</button>
          </div>
        </form>
      </div>
    </div>
    <div class="p-5 mt-4">
      <div class="overflow-auto rounded-sm shadow">
        <table class="w-full table-auto">
          <thead class="bg-white border-b-2 border-gray-700">
            <tr>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">
                No.
              </th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">
                Waktu
              </th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">
                Type
              </th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">
                Total
              </th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
            <tr
              class="bg-red-700"
              v-for="(item, i) in laporanList.data"
              :key="i"
            >
              <td
                class="p-3 text-sm font-bold  whitespace-nowrap text-slate-50 hover:underline"
              >
                {{ item.order_id }}
              </td>
              <td class="p-3 text-sm text-white whitespace-nowrap">
                {{ item.time }}
              </td>
              <td
                class="p-3 text-sm text-gray-700 uppercase  whitespace-nowrap text-bold"
              >
                <span
                  class="
                    p-1.5
                    text-xs
                    font-bold font-medium
                    uppercase
                    tracking-wider
                    text-gray-800
                    bg-green-200
                    rounded-sm
                    bg-opacity-50
                  "
                  >{{ item.type }}</span
                >
              </td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                <span class="font-bold text-white">{{ item.paid_amount }}</span>
              </td>
              <td>
                <button class="items-center _btn_danger bg-rose-600 sm:mb-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeMount } from "vue";
import { useLaporanStore } from "../../stores/laporan";
// import { useRouter } from "vue-router";
// import { ref } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";

import { library } from "@fortawesome/fontawesome-svg-core";
import { faPhone, faPrint } from "@fortawesome/free-solid-svg-icons";

const laporanStore = useLaporanStore();
const laporanList = computed(() => laporanStore.listLaporan);
// const router = useRouter();

onBeforeMount(() => {
  laporanStore.fetchLaporans();
});

library.add(faPhone, faPrint);
// export default {
//   components: { Datepicker },
//   data() {
//     return {
//       date: null,
//       dateEnd: null,
//       // list_laporan,
//     };
//   },
// };
</script>
