<template>
  <div class="flex flex-col lg:flex-row">
    <div class="w-full">
      <ListTab />
    </div>
    <div class="w-full">
      <ListTransaction />
    </div>
  </div>
</template>

<script setup>
import ListTab from "./ListMenu.vue";
import ListTransaction from "./ListTransaction.vue";
</script>
