<template>
  <div class="my-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div
              class="p-2 shadow col-sm-4"
              v-for="(menu, index) in menus.data"
              :key="index"
            >
              <div class="card">
                <div class="card-body">
                  <p
                    class=" d-flex justify-content-center card-title btn btn-sm btn-danger"
                  >
                    {{ menu.name }}
                  </p>
                  <p>{{ menu.category }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="rounded shadow card border-danger">
            <div class="text-white card-header bg-danger text-bold">
              Transaction List
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Jumlah</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="btn-group"></div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">Bayar</td>
                    <td>Rp. 12.000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
  setup() {
    //reactive state
    let menus = ref([]);

    onMounted(() => {
      //get data from api endpoint
      axios
        .get("http://127.0.0.1:8000/api/menu")
        .then((result) => {
          menus.value = result.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    });

    return {
      menus,
    };
  },
};
</script>