<template>
  <div class="_header_title">
    <div class="w-full p-3 lg:min-h-screen">
      <div class="w-full">
        <div class="rounded-t-lg">
          <form @submit.prevent="storeTransaction">
            <div
              class="flex flex-row items-center justify-between bg-gradient-to-tr from-red-600 to-red-700 rounded-t-xl"
            >
              <h1 class="_title lg:px-4">Total Bayar</h1>
              <div class="_title">RP.{{ transaction.paid_amount }}</div>
            </div>
            <div class="border-2 border-red-700">
              <div class="flex flex-col p-3 lg:flex-row">
                <div
                  class="flex flex-row p-3 space-x-3 text-gray-900 lg:flex-col lg:p-0 lg:w-1/3"
                >
                  <label for="customer_name" class="_label_input lg:px-3"
                    >Pelanggan</label
                  >
                  <div class="flex flex-col w-full">
                    <input
                      v-model="transaction.customer_name"
                      class="_input _input:focus lg:w-3/4"
                      type="text"
                    />
                    <span v-if="validate.customer_name" class="text-red-500">
                      {{ validate.customer_name[0] }}
                    </span>
                  </div>
                </div>
                <div
                  class="flex flex-row p-3 space-x-3 text-gray-900 lg:flex-col lg:p-0 lg:w-1/3"
                >
                  <label for="driver_name" class="_label_input lg:px-3"
                    >Driver</label
                  >
                  <div class="flex flex-col w-full">
                    <input
                      v-model="transaction.driver_name"
                      class="_input _input:focus lg:w-3/4"
                      type="text"
                    />
                    <span v-if="validate.driver_name" class="text-red-500">
                      {{ validate.driver_name[0] }}
                    </span>
                  </div>
                </div>
                <div
                  class="flex flex-row p-3 space-x-3 text-gray-900 lg:flex-col lg:p-0 lg:w-1/3"
                >
                  <label for="type" class="_label_input lg:px-3">Type</label>
                  <div class="flex flex-col w-full">
                    <select
                      v-model="transaction.type"
                      class="_input _input:focus lg:w-3/4"
                      type="text"
                      name="category"
                    >
                      <option
                        v-for="(item, i) in transactionStore.types"
                        :key="i"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                    <span v-if="validate.type" class="text-red-500">
                      {{ validate.type[0] }}
                    </span>
                  </div>
                </div>
              </div>
              <table
                class="items-center w-full text-left border-t table-auto border-red-50"
              >
                <thead class="text-gray-900">
                  <tr class="text-center border-b-2 border-red-700">
                    <th class="p-3">#</th>
                    <th class="p-3">Nama Makanan</th>
                    <th class="p-3">Quantity</th>
                    <th class="p-3">Harga</th>
                    <th class="p-3">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="h-20 text-center text-gray-900 border-b-2 border-red-400 bg-red-50"
                    v-for="(item, i) in menu_order"
                    :key="i"
                  >
                    <td>#</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <input
                        type="number"
                        min="1"
                        class="w-1/5 _input"
                        v-model.number="item.qty"
                        @input="amount"
                      />
                    </td>
                    <td>{{ item.unit_price }}</td>
                    <td>{{ item.amount }}</td>
                  </tr>
                  <tr class="text-right text-gray-900 border-b">
                    <td colspan="4" class="px-4 text-left">Bayar</td>
                    <td class="items-end">
                      <input
                        type="number"
                        class="w-1/2 my-3 mr-3 _input"
                        v-model="transactionStore.cash"
                        @keyup.enter="storeTransaction"
                      />
                    </td>
                  </tr>
                  <tr class="justify-between text-right text-gray-900 border-b" :class="returnCash >= 0 ? 'block' : 'hidden'">
                    <td colspan="4" class="px-4 text-left">Kembali</td>
                    <td class="text-right">RP.{{ returnCash }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";
import { useTransactionStore } from "../../stores/transaction";
import { useUserStore } from "../../stores/user";

const transactionStore = useTransactionStore();
const userStore = useUserStore();

const menu_order = computed(() => transactionStore.transaction.order);
const transaction = computed(() => transactionStore.transaction);
const grandTotal = computed(() => transactionStore.grantTotal);
const returnCash = computed(() => transactionStore.getReturnCash);
const validate = computed(() => transactionStore.validation);

const amount = computed(function () {
  var amount = 1;
  transactionStore.transaction.order.forEach((item) => {
    item.amount = item.qty * item.unit_price;
  });

  return amount;
});

const paid_amount = computed(function () {
  var grandTotal = 0;
  transactionStore.transaction.order.forEach((item) => {
    grandTotal += item.qty * item.unit_price;
  });

  return grandTotal;
});

const storeTransaction = () => {
  transactionStore.postTransaction();
  transactionStore.$reset((state) => (state.transaction = transaction));
};
</script>
