<template>
  <div class="_header_title">
    <div class="items-center w-full p-3 lg:min-h-screen _title">
      <div class="rounded-t-lg bg-gradient-to-tr from-red-600 to-red-700">
        <h1 class="p-3 mb-3 text-2xl font-semibold text-white">List Menu</h1>
      </div>
      <div
        class="items-start text-sm font-medium text-center text-gray-500 border-b border-red-200 dark:text-gray-400 dark:border-gray-700"
      >
        <div class="flex">
          <div class="mr-2">
            <button
              class="_title_tab"
              :class="{
                _tab: tab !== 1,
                _tab_active: tab === 1,
              }"
              @click="currentTab(1)"
            >
              All Menu
            </button>
          </div>
          <div class="mr-2">
            <button
              class="_title_tab"
              :class="{
                _tab: tab !== 2,
                _tab_active: tab === 2,
              }"
              @click="
                currentTab(2);
                menuUtama();
              "
            >
              Makanan Utama
            </button>
          </div>
          <div class="mr-2">
            <button
              class="_title_tab"
              :class="{
                _tab: tab !== 3,
                _tab_active: tab === 3,
              }"
              @click="
                currentTab(3);
                menuSampingan();
              "
            >
              Makanan Ringan
            </button>
          </div>
        </div>
        <div class="w-full bg-white border-2 border-red-700 lg:min-h-screen">
          <div :class="{ hidden: tab !== 1, block: tab === 1 }">
            <div
              class="flex flex-col p-3 lg:space-x-3 lg:flex-row"
            >
              <button
                v-for="(list, i) in all_menu"
                :key="i"
                class="_card"
                @click="
                  postMenuTransaction(list);
                  oneClick(list);
                "
              >
                <div class="items-center p-5 lg:w-40">
                  <div >
                    <h2 class="_card_title">
                      {{ list.name }}
                    </h2>
                    <div
                      class="flex flex-row justify-center w-full text-center"
                    >
                      <span class="_card_price"> Rp. </span>
                      <span>{{ list.price }}</span>
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div :class="{ hidden: tab !== 2, block: tab === 2 }">
            <div
              class="grid grid-cols-1 gap-4 p-2 text-center md:grid-cols-3 lg:grid-cols-4"
            >
              <div
                v-for="(list, i) in menu_category"
                :key="i"
                class="_card"
                @click="postMenuTransaction(list)"
              >
                <div class="items-center p-2">
                  <div>
                    <p class="_card_title">
                      {{ list.name }}
                    </p>
                    <div
                      class="flex flex-row justify-center w-full text-center"
                    >
                      <span class="_card_price"> Rp. </span>
                      <p>{{ list.price }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div :class="{ hidden: tab !== 3, block: tab === 3 }">
            <div
              class="grid grid-cols-1 gap-4 p-2 text-center md:grid-cols-3 lg:grid-cols-4"
            >
              <div
                v-for="(list, i) in menu_category"
                :key="i"
                class="_card"
                @click="postMenuTransaction(list)"
              >
                <div class="items-center p-2">
                  <div>
                    <p class="_card_title">
                      {{ list.name }}
                    </p>
                    <div
                      class="flex flex-row justify-center w-full text-center"
                    >
                      <span class="_card_price"> Rp. </span>
                      <p>{{ list.price }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, ref } from "vue";
import { useMenuStore } from "../../stores/menu";
import { useTransactionStore } from "../../stores/transaction";
import { useUserStore } from "../../stores/user";

const userStore = useUserStore();
const menuStore = useMenuStore();

//view tab & filter
const all_menu = computed(() => menuStore.list_menu);
const menu_category = computed(() => menuStore.category);

const menuUtama = () => {
  menuStore.category = menuStore.list_menu.filter((list) => {
    return list.category === "Makanan Utama";
  });
};

const menuSampingan = () => {
  menuStore.category = menuStore.list_menu.filter((list) => {
    return list.category === "Makanan Ringan";
  });
};

//click menu
const transactionStore = useTransactionStore();
const menuTransaction = useTransactionStore();
const id = computed(() => userStore.users.id)
const postMenuTransaction = (list) => {
  transactionStore.transaction.paid_amount = paid_amount
  transactionStore.transaction.user_id = id
  transactionStore.transaction.order.push({
    menu_id: list.id,
    qty: 1,
    name: list.name,
    unit_price: list.price,
    amount: list.price,
    discount: 0,
  });
};

onBeforeMount(() => {
  menuStore.getMenu();
});

const tab = ref(1);
const currentTab = (item) => {
  tab.value = item;
};

const oneClick = (list) => {
  transactionStore.$patch((state) => (state.active = list.id));
};

const paid_amount = computed(function() {
  var grandTotal = 0
  transactionStore.transaction.order.forEach((item) => {
    grandTotal += item.qty * item.unit_price;
  });

  return grandTotal;
})

onBeforeMount(() => {
  userStore.getUser();
});
</script>
