<template>
  <div class="_header_title w-full min-h-screen">
    <div class="flex justify-center p-3 lg:p-5">
      <div
        class="
          _form
          bg-gradient-to-tr
          w-full
          lg:w-2/3
          from-rose-400
          to-rose-600
          rounded-t-lg
        "
      >
        <h1 class="_title lg:px-4 text-center">Edit Menu</h1>
        <div class="bg-rose-100">
          <form @submit.prevent="postEditMenu">
            <div class="flex flex-row p-3 space-x-5 text-gray-900 items-start">
              <label for="name" class="_label_input">Nama Makanan</label>
              <div class="flex flex-col w-full">
                <input
                  v-model="menuEdit.name"
                  class="_input _input:focus"
                  type="text"
                  name="name"
                />
                <span v-if="validate.name" class="text-rose-500">
                  {{ validate.name[0] }}
                </span>
              </div>
            </div>
            <div class="flex flex-row p-3 space-x-5 text-gray-900 items-start">
              <label for="price" class="_label_input">Harga</label>
              <div class="flex flex-col w-full">
                <input
                  v-model="menuEdit.price"
                  class="_input _input:focus"
                  type="number"
                  name="price"
                  required
                />
                <span v-if="validate.price" class="text-rose-500">
                  {{ validate.price[0] }}
                </span>
              </div>
            </div>
            <div class="flex flex-row p-3 space-x-5 text-gray-900 items-start">
              <label for="category" class="_label_input">Kategori</label>
              <div class="flex flex-col w-full">
                <select
                  v-model="menuEdit.category"
                  class="_input _input:focus"
                  type="text"
                  name="category"
                >
                  <option v-for="(item, i) in menuStore.categories" :key="i">
                    {{ item.text }}
                  </option>
                </select>
                <span v-if="validate.category" class="text-rose-500">
                  {{ validate.category[0] }}
                </span>
              </div>
            </div>
            <div class="flex flex-row p-3 space-x-5 text-gray-900 items-start">
              <label for="email" class="_label_input">Deskripsi</label>
              <div class="flex flex-col w-full">
                <input
                  v-model="menuEdit.desc"
                  class="_input _input:focus"
                  type="text"
                  name="desc"
                />
                <span v-if="validate.desc" class="text-rose-500">
                  {{ validate.desc[0] }}
                </span>
              </div>
            </div>
            <div class="flex justify-end mr-4">
              <button class="_btn_save bg-lime-500">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { useMenuStore } from "../../stores/menu";
const menuStore = useMenuStore();
const menuEdit = computed(() => menuStore.form);
const validate = computed(() => menuStore.validation);

onMounted(() => {
  menuStore.getEditMenu();
});

const postEditMenu = () => {
  menuStore.editMenu();
};
</script>