<template>
  <div class="_header_title">
    <div class="w-full min-h-screen p-3">
      <div class="">
        <div class="bg-gradient-to-tr from-rose-400 to-rose-600 rounded-t-lg">
          <div class="flex flex-row items-center justify-between">
            <h1 class="_title lg:px-4">Daftar Menu</h1>
              <button class="_btn_add mx-2" @click="addMenu">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </button>
          </div>
          <div>
            <table
              class="
                w-full
                border-t border-rose-50
                items-center
                table-auto
                text-left
              "
            >
              <thead class="text-white">
                <tr class="bg-rose-400 border-b-2 border-rose-100">
                  <th>Nama Makanan</th>
                  <th>Kategori</th>
                  <th>Desc</th>
                  <th>Harga</th>
                  <th width="110px">Aksi</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  class="bg-rose-50 text-gray-900 border-b-2 border-rose-100"
                  v-for="(item, i) in menuList.data"
                  :key="i"
                >
                  <td>{{ item.name }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.desc }}</td>
                  <td>{{ item.price }}</td>
                  <td class="lg:flex lg:flex-row items-center">
                    <button @click="editMenu(item)" 
                      class="_btn_edit bg-cyan-600 items-center mr-1 sm:mb-1"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                        />
                      </svg>
                    </button>
                    <button
                    @click="dropMenu(item.id, i)"
                      class="_btn_danger bg-rose-600 items-center sm:mb-1"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
import { computed, onMounted } from "vue";
import { useMenuStore } from "../../stores/menu";
import { useRouter } from "vue-router";
const menuStore = useMenuStore();
const menuList = computed(() => menuStore.list_menu);
const router = useRouter();
const idMenu = useMenuStore();
const listPerId = useMenuStore();
const id = computed(() => menuStore.getId);
const byId = computed(() => menuStore.getListId)

onMounted(() => {
  menuStore.getMenu();
});

const addMenu = () => {
  router.push({ name: "menu.create" });
};

const editMenu = (item) => {
  idMenu.$patch((state) => (state.id = item.id));
  listPerId.$patch((state) => (state.getListId) = item)
  router.push({ name: "menu.edit", params: { id: item.id }});
};


const dropMenu = (id) => {
  idMenu.$patch((state) => (state.id = id));
  menuStore.destroyMenu()
};
</script>
