<template>
<<<<<<< HEAD
  <div
    class="flex grid justify-center h-screen grid-flow-col grid-rows-3 gap-4  bg-slate-50"
  >
    <div class="container flex content-center d-flex justify-content-center">
      <div class="row-span-3 p-2 m-2">
        <img
          src="../assets/hero.png"
          class="img-fluid rounded-start"
          style="width: 500px"
          alt="..."
        />
      </div>
      <div class="col-span-2">
        <h1>Selamat Datang {{ user.name }}</h1>
        <h2 class="card-title">
          <div class="text-red-400">
            <b>Queen Sendok's</b>
            <span class="text-blue-500"><i> Resto</i> </span>
          </div>
        </h2>
        <p class="card-text">Mulai Transaksimu Sekarang</p>
        <router-link
          :to="{ name: 'transaction.index' }"
          class="block px-3 py-2 no-underline  btn btn-sm btn-primary lg:py-5 text-slate-800 hover:text-white"
          >Transaksi</router-link
        >
=======
  <div class="bg-gray-200">
    <div class="container px-6 py-4 mx-auto lg:flex lg:h-128 lg:py-16">
      <div
        class="flex items-center justify-center w-full mt-2 lg:h-96 lg:w-1/2"
      >
        <img
          class="object-cover rounded-md h-18 w-18 lg:h-full"
          src="../assets/queen.png"
          alt="apple watch photo"
        />
      </div>
      <div class="flex flex-col items-center w-full lg:flex-row lg:w-1/2">
        <div class="max-w-lg">
          <h1
            class="text-xl tracking-wide text-gray-800 lg:text-4xl"
          >
            <!-- Selamat datang {{ name }} -->
            Selamat datang {{ user.name }}
          </h1>
          <p class="mt-4 text-gray-600">
            Mulai Transaksimu Sekarang
          </p>
          <div class="mt-6">
            <router-link
              :to="{ name: 'transaction.index' }"
              class="inline-block px-3 py-2 font-semibold text-center text-white transition-colors duration-200 transform bg-blue-500 rounded-md  hover:bg-blue-400"
            >
              Transaksi</router-link
            >
          </div>
        </div>
>>>>>>> 7cdc091972ce8c91277d2eefb0a8f6f6eaf5ab2c
      </div>
    </div>
  </div>
</template>

<<<<<<< HEAD

=======
>>>>>>> 7cdc091972ce8c91277d2eefb0a8f6f6eaf5ab2c
<script setup>
import { computed, onBeforeMount } from "vue";
import { useUserStore } from "../stores/user";
const userStore = useUserStore();
const user = computed(() => userStore.users);

onBeforeMount(() => {
  userStore.getUser();
<<<<<<< HEAD
  console.log(user);
});
</script>
=======
});
</script>
>>>>>>> 7cdc091972ce8c91277d2eefb0a8f6f6eaf5ab2c
