<template>
  <div class="content">
    <div class="container d-flex justify-content-center">
      <div class="p-2 m-2">
        <img
          src="../assets/hero.png"
          class="img-fluid rounded-start"
          style="width: 500px"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">
          <span class="text-danger"><b>Queen</b> </span> Sendok's
          <span class="text-primary"><i>Resto</i> </span>
        </h2>
        <p class="card-text">Mulai Transaksimu Sekarang</p>
        <button class="btn btn-primary">Pesan</button>
      </div>
    </div>
  </div>
</template>