<template>
<<<<<<< HEAD
  <!-- <div class="_login">
    <div class="w-11/12 min-h-screen mt-12 lg:w-2/5">
      <div class="_form">
        <div class="rounded-t-lg bg-gradient-to-tr from-slate-700 to-slate-900">
          <h1 class="_title_login lg:p-4">Login</h1>
        </div>
        <div class="px-3">
          <form @submit.prevent="postUser" >
            <div class="mb-3">
              <label for="email" class="_label">Email</label>
              <input
                v-model="userStore.user.email"
                class="_input _input:focus"
                type="email"
                name="email"
                placeholder="admin@gmail.com"
              />
            </div>
            <div class="mb-4">
              <label for="password" class="_label">Password</label>
              <input
                v-model="userStore.user.password"
                class="_input _input:focus"
                type="password"
                name="password"
              />
            </div>
            <div class="flex justify-end">
              <button class="_btn bg-cyan-500">Sign In</button>
            </div>
          </form>
=======
  <div class="flex items-center justify-center min-h-screen p-3 bg-red-700">
    <div
      class="border border-gray-200 rounded-lg shadow-xl shadow-red-900 bg-slate-50 sm:p-6 lg:w-1/3 dark:bg-gray-800 dark:border-gray-700"
    >
      <form class="space-y-6" @submit.prevent="postUser">
        <h3 class="text-center _title">
          Sign in to Apps
        </h3>
        <div>
          <label
            for="email"
            class="_label"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            v-model="userStore.user.email"
            class="_input"
            placeholder="admin@company.com"
            required=""
          />
>>>>>>> 7cdc091972ce8c91277d2eefb0a8f6f6eaf5ab2c
        </div>
        <div>
          <label
            for="password"
            class="_label"
            >Your password</label
          >
          <input
            v-model="userStore.user.password"
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="_input"
            required=""
          />
        </div>
        <div class="flex items-center">
            <div class="flex h-5">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="remember"
                class="_label"
                >Remember me</label
              >
            </div>
          <a
            href="#"
            class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
            >Lost Password?</a
          >
        </div>
        <button
          type="submit"
          class="w-full px-5 py-2 text-lg text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-400 font-xl dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Login to your account
        </button>
      </form>
    </div>
  </div> -->
  <!-- This is an example component -->
  <div class="grid grid-cols-3 gap-4 p-20 bg-red-700">
    <!-- <div class="flex justify-center">
      <img class="h-24 w-30" src="../assets/queen.png" />
    </div> -->
    <div></div>
    <div
      class="max-w-sm p-4 border border-gray-200 rounded-lg shadow-md  bg-slate-50 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700"
    >
      <form class="space-y-6" @submit.prevent="postUser">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Sign in to Apps
        </h3>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900  dark:text-gray-300"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            v-model="userStore.user.email"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900
              sm:text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-600
              dark:border-gray-500
              dark:placeholder-gray-400
              dark:text-white
            "
            placeholder="admin@company.com"
            required=""
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900  dark:text-gray-300"
            >Your password</label
          >
          <input
            v-model="userStore.user.password"
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900
              sm:text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-600
              dark:border-gray-500
              dark:placeholder-gray-400
              dark:text-white
            "
            required=""
          />
        </div>
        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded  bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="remember"
                class="font-medium text-gray-900 dark:text-gray-300"
                >Remember me</label
              >
            </div>
          </div>
          <a
            href="#"
            class="ml-auto text-sm text-blue-700  hover:underline dark:text-blue-500"
            >Lost Password?</a
          >
        </div>
        <button
          type="submit"
          class="
            w-full
            text-white
            bg-blue-700
            hover:bg-blue-800
            focus:ring-4 focus:ring-blue-300
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            text-center
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
        >
          Login to your account
        </button>
      </form>
    </div>
  </div>
</template>

<script setup>
import { useUserStore } from "../stores/user";
const userStore = useUserStore();

const postUser = () => {
  userStore.login();
};
</script>
