<template>
	<div class="flex d-flex justify-content-center m-2 p-1 bg-slate-50">
		<h5><b> Queen Sendok's <span class="text-danger bold">@2022</span></b></h5> <br />
		<p>Copyright </p>
	</div>
</template>