<template>
  <div class="_nav lg:flex-row">
    <div
      class="flex items-center justify-between px-3 py-2 border-b border-yellow-100  lg:border-b-0"
    >
      <div>
        <button class="block focus:outline-none lg:hidden" @click="showMenu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              :class="!isOpen ? 'block' : 'hidden'"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16m-7 6h7"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                :class="isOpen ? 'block' : 'hidden'"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </svg>
        </button>
      </div>
    </div>

    <div
      class="flex-col justify-between w-full py-2 font-semibold  lg:flex lg:flex-row lg:py-0"
      :class="isOpen ? 'block' : 'hidden'"
      @click="showMenu"
    >
      <div class="flex flex-col lg:flex-row" v-if="loggedIn">
        <div>
          <router-link :to="{ name: 'dashboard' }" href="#">
            <img class="h-10 w-18" src="../assets/queen.png" />
          </router-link>
        </div>
        <router-link
          :to="{ name: 'dashboard' }"
          class="block px-3 py-2 no-underline  lg:py-5 text-slate-800 hover:text-white"
          >Dashboard
        </router-link>
        <router-link
          :to="{ name: 'menu.index' }"
          class="block px-3 py-2 no-underline  lg:py-5 text-slate-800 hover:text-white"
          >Menu
        </router-link>
        <router-link
          :to="{ name: 'transaction.index' }"
          class="block px-3 py-2 no-underline  lg:py-5 text-slate-800 hover:text-white"
          >Transaction
        </router-link>
        <router-link
          :to="{ name: 'laporan.index' }"
          class="block px-3 py-2 no-underline  lg:py-5 text-slate-800 hover:text-white"
          >Laporan
        </router-link>
      </div>
      <div
        class="flex flex-col lg:flex-row lg:w-full lg:justify-end"
        v-if="!loggedIn"
      >
        <!-- <router-link
          :to="{ name: 'login' }"
          class="block px-3 py-2 no-underline lg:py-4 text-slate-800 hover:text-white"
          >Login
        </router-link> -->
      </div>
      <div class="flex flex-col lg:flex-row" @click="Logout" v-if="loggedIn">
        <router-link
          :to="{ name: 'login' }"
          class="block px-3 py-2 no-underline  lg:py-4 text-slate-800 hover:text-white"
          >Logout
        </router-link>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onMounted, reactive, ref, toRefs } from "vue";
import api from "../services/api";
import { useUserStore } from "../stores/user";

const setIsOpen = ref(false);
const isOpen = ref(false);
const isVisible = ref(false);
const isAuth = ref(false);

const showMenu = () => {
  isOpen.value = !isOpen.value;
};

const show = () => {
  isVisible.value = !isVisible.value;
};

const hide = () => {
  isVisible.value = false;
};

//check status login
const loggedIn = computed(() => userStore.loggedIn);
const userStore = useUserStore();

const Logout = () => {
  userStore.logout();
};
</script>
