@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ._nav {
    @apply flex flex-col bg-red-700;
  }

  ._login {
    @apply flex items-center justify-center antialiased tracking-tighter text-white bg-red-50;
  }

  ._header_title {
    @apply antialiased tracking-tighter text-left text-white bg-slate-50;
  }

  ._title {
    @apply p-2 text-2xl font-semibold text-left uppercase;
  }

  ._form {
    @apply shadow-2xl bg-gradient-to-tr rounded-xl from-red-400 to-red-600 shadow-red-900;
  }

  ._label {
    @apply block mb-1 text-lg font-light;
  }

  ._label_input {
    @apply block w-1/4 mb-1 text-lg font-light;
  }

  ._input {
    @apply w-full px-2 py-2 font-medium transition duration-200 border-gray-300 shadow-sm text-slate-900 rounded-xl;
  }

  ._input:focus {
    @apply border-blue-500 outline-none ring-2 ring-blue-300;
  }

  ._btn {
    @apply inline-flex flex-row items-center px-2 py-1 mb-5 font-semibold text-white rounded-lg;
  }

  ._btn:hover {
    @apply bg-blue-700 ring ring-blue-400;
  }

  ._btn_save {
    @apply inline-flex flex-row items-center px-2 py-1 mb-5 font-semibold text-white rounded-lg;
  }

  ._btn_save:hover {
    @apply bg-lime-700 ring ring-lime-400;
  }

  ._btn_edit {
    @apply inline-flex flex-row items-center px-2 py-1 font-semibold text-white rounded-lg;
  }

  ._btn_edit:hover {
    @apply bg-blue-700 ring ring-blue-400;
  }

  ._btn_danger {
    @apply inline-flex flex-row items-center px-2 py-1 font-semibold text-white rounded-lg;
  }

  ._btn_danger:hover {
    @apply bg-red-700 ring ring-red-400;
  }

  ._btn_add {
    @apply inline-flex flex-row items-center px-2 py-1 font-semibold text-white rounded-lg;
  }

  ._btn_add:hover {
    @apply bg-lime-700 ring ring-lime-400;
  }

  ._btn:focus {
    @apply outline-none;
  }

  ._title_tab {
    @apply inline-block rounded-t-lg no-underline border-b-transparent bg-red-700 p-2 text-gray-50 dark:text-red-500 dark:border-red-500
  }

  ._tab_active {
    @apply text-white font-semibold bg-red-600 border-2 border-red-700 border-b-transparent
  }

  ._tab {
    @apply text-black bg-slate-50 font-semibold
  }

  ._card {
    @apply rounded-lg shadow-lg shadow-red-700 
  }

  ._card:disabled {
    @apply bg-blue-400
  }

  ._card:hover {
    @apply bg-red-50
  }

  ._card_title {
    @apply h-12 text-xl font-bold tracking-tight text-gray-900 dark:text-white 
  }

  ._card_price {
    @apply mb-2 mr-1 font-normal text-gray-700 dark:text-gray-400
  }
}

body {
  height: 100%;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }
}
