<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'barang.create' }"
          class="mb-3 rounded shadow btn btn-primary btn-sm"
          >Add
        </router-link>
        <div class="rounded shadow card">
          <div class="card-header">Barang List</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(barang, index) in barangs.data" :key="index">
                  <td>{{ barang.title }}</td>
                  <td>{{ barang.amount }}</td>
                  <td>{{ barang.type }}</td>
                  <td>
                    <div class="btn-group">
                      <router-link
                        :to="{
                          name: 'barang.edit',
                          params: { id: barang.id },
                        }"
                        class="btn btn-sm btn-outline-info"
                        >Edit</router-link
                      >
                      <div
                        class="btn btn-sm btn-outline-danger"
                        @click.prevent="destroy(barang.id, index)"
                      >
                        Delete
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
  setup() {
    //reactive state
    let barangs = ref([]);

    onMounted(() => {
      //get data from api endpoint
      axios
        .get("http://127.0.0.1:8000/api/barang")
        .then((result) => {
          barangs.value = result.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    });

    function destroy(id, index) {
      axios
        .delete(`http://127.0.0.1:8000/api/barang/${id}`)
        .then(() => {
          barangs.value.data.splice(index, 1);
        })
        .catch((err) => {
          console.lo(err.response.data);
        });
    }

    return {
      barangs,
      destroy,
    };
  },
};
</script>